::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.root-page {
  width: 100%;
  height: 100%;
  display: flex;
}

.bg-login-section {
  width: 100%;
  background-color: black;
}

.logo-img{
  transform: rotate(5deg);
  width: 35px;
  height: 35px;
}

.heading-login {
  color: white;
  font-size: 4.8em;
}

.join-heading {
  color: white;
}

.btn-hover:hover {
  background-color: rgb(227, 230, 233);
}

.inline-text-hr {
  margin-top: -20px;
}

.modal-bg {
  background-color: rgb(36,45,52);
}

.modal-box-bg {
  background-color: black;
}

.btn-color-close {
  opacity: 0;
  color: white;
}

.input-control {
  background-color: black;
  border: gray 1px solid;
}

.input-control:active,
.input-control:focus,
.input-control:focus:active {
  background-color: black;
  border: #00acee 1px solid;
  color: white;
  height: 50px;
  font-size: 1.05em;
}

.forgot-pswd {
  background-color: black;
}

.forgot-pswd:hover {
  background-color: rgb(34, 32, 32);
} 

.signup-controls {
  height: 55px;
}

.date-picker {
  width: 40%;
}