::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.root-page {
  width: 100%;
  height: 100%;
  display: flex;
}

.bg-login-section {
  width: 100%;
  background-color: black;
}

.logo-img{
  transform: rotate(5deg);
  width: 35px;
  height: 35px;
}


.logo-img-home {
  transform: rotate(5deg);
  width: 25px;
  height: 25px;
}
.heading-login {
  color: white;
  font-size: 4.8em;
}

.join-heading {
  color: white;
}

.btn-hover:hover {
  background-color: rgb(227, 230, 233);
}

.inline-text-hr {
  margin-top: -20px;
}

.modal-bg {
  background-color: rgb(36,45,52);
}

.modal-box-bg, .black-bg-home {
  background-color: black;
}

.btn-color-close {
  opacity: 0;
  color: white;
}

.input-control {
  background-color: black;
  border: gray 1px solid;
}

.input-control:active,
.input-control:focus,
.input-control:focus:active {
  background-color: black;
  border: #00acee 1px solid;
  color: white;
  height: 50px;
  font-size: 1.05em;
}

.forgot-pswd {
  background-color: black;
}

.forgot-pswd:hover {
  background-color: rgb(34, 32, 32);
} 

.signup-controls {
  height: 55px;
}

.date-picker {
  width: 40%;
}

.nav-width {
  width: 80%;
  margin-inline: auto;
}

.first-section {
  width: 25%;
}

.home-logo-img {
  transform: rotate(5deg);
  width: 30px;
  height: 30px; 
}

.second-section {
  width: 50%;
}

.hr-line {
  width: 2em;
  color: orange;
  transform: rotate(90deg);
}

.first-section-position {
  position: fixed;
}

.nav-fix {
  position: fixed;
  top: 0;
}

ul {
  list-style: none;
}

.color-icon { 
  color:white;
}

.menu-icons {
  cursor: pointer;
}

.menu-icons:hover * {
  color: #00acee;
}

.fixed-positon {
  position: relative;
}

.rounded-img-bg {
  height: min-content;
  cursor: pointer;
}

.rounded-img-bg:hover {
  padding-inline: 8px;
  height: min-content;
  background-color: rgb(32,35,39);
  border-radius: 32px;
}

.search-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: rgb(32,35,39);
  
}

.search-input:focus {
  outline: none;
  color: white;
}

.increase-width {
  width: 130%;
  height: 2em;
}
